*{
    margin: 0px;

    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: orange;
}

header h1{
    padding-left: 3%;
    display: inline-block;
}

.IconWOB{
    display: inline-block;
}

.IconWOB p{
    font-size: 300%;
     display: inline-block; 
 }
 
.profile img{
    width: 59%;
    padding: 3%;
}

.profile .t{
    background-color: rgba(0, 0, 0, 0.687); padding-right: 1%;
    border: 4%;
    border-style: outset;
    border-color: black;
    border-radius: 30px;
}

.profile h2{
    font-size: 200%;
    text-align: center;
    color: rgb(255, 255, 255);
   
}

.profile h3{
    font-size: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.747);
}

.profile a{
    margin: 1%;
    margin-bottom: 18%;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.687);
    border-color: rgba(255, 0, 0, 0.881);
    border-style: outset;
    border-radius: 29px;
    border-width: 4px;
}

.profile a:hover{
    color: rgb(216, 216, 216);
    background-color: rgba(192, 0, 0, 0.788);
    border-radius: 27px;
    
}
.profile a:active{
    color: rgb(216, 216, 216);
    background-color: rgba(192, 0, 0, 0.788);
    border-radius: 30px;
    padding: 0.2%;
}

.lan .b{
    color: white;
}

.profile .contact{
    left: 27%;
    bottom: -1%;
    padding-left: 1%; padding-right: 1%;
}

.profile .cv{
    right: 28%;
    bottom: -1%;
    padding-left: 1%; padding-right: 1%;
}

.IconWOB i:active{
    color: rgb(0, 0, 0);
}
.IconWOB i{
    color: rgba(0, 0, 0, 0.676);
}

.IconWOB i:hover{
    color: rgba(0, 0, 0, 0.785);
}

.IconWOB i:active{
    color: rgb(0, 0, 0);
}

.ico h1{
    color: rgba(0, 0, 0, 0.676);
}

.ico h1:hover{
    color: rgba(0, 0, 0, 0.785);
}

.ico h1:active{
    color: rgba(0, 0, 0);
}

.about{
    
    text-align: center;
    padding: 2%;
    background-color: rgba(255, 166, 0, 0.384);
    border-style: outset;
    border-radius: 20px;
    border-width: 10%;
    border-color: rgb(255, 166, 0);
}

.about h2{

    text-decoration: underline;
}

.about p{

    display: inline-block;
    margin: 1%;
    
}

.about i{

}

.about h3{
    display: inline-block;
    font-size: 150%;
}

.b{
    font-weight: bold;
}

.c{
    text-align: center;
}

.lan img {
    width:  10%;
    display: inline-block;
}

.lan{
    padding: 2%;
    border-radius: 30px;
    border-width: 2%;
    text-align: left;
    margin-top: 1%;
}

.cpp{
    background-color: rgba(0, 0, 225, 0.753);
}
.css{

    background-color: rgb(0, 174, 255);
}

.cs{
    background-color: rgba(115, 0, 255, 0.667);
}

.html{
    background-color: rgba(255, 157, 0, 0.667);
}

.php{
    background-color: rgb(75, 130, 155);
}

.java{
    background-color: rgb(0, 42, 255);
}

.unity{
    background-color: rgb(0, 0, 0);
}

.ball{
    padding: 4%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 30px;
    margin-left: 1%; margin-right: 1%;
}

.uball{
    padding: 4%;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    border-radius: 30px;
    margin-left: 1%; margin-right: 1%;
}

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1%;
}

.containerM{
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1%;
}

.cc{
    grid-gap: 0px;
}

.item-1{
    grid-row: 1/2;
    grid-column: 3/7;
}
.item-2{
    grid-row: 1/1;
    grid-column: 1/3;
}
.item-3{
    grid-row: 2/2;
    grid-column: 1/5;
}
.item-4{
    grid-row: 1/8;
    grid-column: 4/19;
}
.item-5{
    grid-row: 5/5;
    grid-column: 4/14;
}
.item-6{
    grid-row: 6/6;
    grid-column: 5/9;
}
.item-7{
    grid-row: 6/6;
    grid-column: 9/13;
}
.item-8{
    grid-row: 2/2;
    grid-column: 5/8;
}

.con{
    margin: 2%;
    display: inline-block;
    width: 50%;
    text-align: center;
}

@media screen and (max-height: 700px) and ( max-width: 1025px)  {
    .item-1{
        grid-row: 1/2;
        grid-column: 2/6;
    }
    .item-2{
        grid-row: 1/1;
        grid-column: 1/2;
    }
    .item-3{
        grid-row: 2/2;
        grid-column: 1/6;
    }

    .containerM{
        display: grid;
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 1%;
    }

    .profile img{
        width: 70%;
        padding: 3%;
    }

    .item-4{
        grid-row: 1/8;
        grid-column: 4/12;
    }
    .item-5{
        grid-row: 4/4;
        grid-column: 4/10;
    }
    .item-6{
        grid-row: 5/5;
        grid-column: 5/7;
    }
    .item-7{
        grid-row: 5/5;
        grid-column: 7/9;
    }
}

@media screen and (min-height: 1376px) and ( min-width: 1024px)  {
    .about{
        font-size: 300%;
    }

    *{
        font-size: 120%;
        
    }

    .unity{
        margin-bottom: 4%;
    }

    .containerM{
        display: grid;
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(16, 1fr);
        grid-gap: 1%;
    }

    .profile h2{
        font-size: 170%;      
    }
    
    .profile h3{
        font-size: 130%;
    }

    .item-4{
        grid-row: 1/8;
        grid-column: 2/16;
    }
    .item-5{
        grid-row: 5/5;
        grid-column: 3/15;
    }
    .item-6{
        grid-row: 6/6;
        grid-column: 5/9;
    }
    .item-7{
        grid-row: 6/6;
        grid-column: 9/13;
    }

    .profile img{
        width: 100%;
        padding: 3%;
    }

    .con{
        margin: 2%;
        display: inline-block;
        width: 50%;
        text-align: center;
    }

    .container{
        grid-gap: 0.3%;
    }

    .item-1{
        grid-row: 4/5;
        grid-column: 1/7;
        font-size: 190%;
    }
    .item-2{
        grid-row: 1/3;
        grid-column: 1/7;
    }
    .item-3{
        grid-row: 5/6;
        grid-column: 1/7;
        font-size: 190%;
    }
}

@media screen and (min-width: 300px) and ( min-height: 360px)  and (max-height: 940px) and ( max-width: 882px) {
    
    *{
        font-size: 160%;   
    }

    .unity{
        margin-bottom: 8%;
    }

    .profile h2{
        
        font-size: 70%;      
    }
    
    .profile h3{
        font-size: 45%;
    }


    .item-5 .t{
        margin-bottom: 30%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 20%;
    }

    .t{
        margin-left: 2%;
        margin-right: 2%;
    }

    h2{
        font-size: 240%;
    }

    .con h3{
        font-size: 100%;
    }

    .con{
        margin: 1%;
        display: inline-block;
        width: 80%;
        text-align: center;
    }

    .container{
        grid-gap: 0.3%;
    }

    .item-1{
        grid-row: 10/13;
        grid-column: 1/7;
    }
    .item-2{
        grid-row: 1/5;
        grid-column: 1/7;
    }
    .item-3{
        grid-row: 13/16;
        grid-column: 1/7;
    }


    .containerM{
        display: grid;
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-template-rows: repeat(9, 20%);
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 1%;
        align-content: end;
    }

    .profile  a{
        font-size: 42%;
        padding-bottom: 10%;
    }

    .profile img{
        width: 120%;
        padding: 3%;
    }

    .item-4{
        grid-row: 5/10;
        grid-column: 1/7;
    }
    .item-5{
        grid-row: 8/8;
        grid-column: 1/9;
    }
    .item-6{
        grid-row: 9/9;
        grid-column: 2/5;
    }
    .item-7{
        grid-row: 10/9;
        grid-column: 5/8;
    }

    .item-8{
        grid-row: 5/10;
        grid-column: 1/7;
        font-size: 80%;
    }

}

@media screen and (max-height: 1370px) and ( max-width: 914px) and (min-height: 1020px) and ( min-width: 760px)  {
    *{
        font-size: 150%;   
    }

    .profile h2{
        font-size: 130%;      
    }
    
    .profile h3{
        font-size: 80%;
    }

    .profile .t{
        margin-top: 11%;
    }

    h2{
        font-size: 240%;
    }

    .con h3{
        font-size: 100%;
    }

    .con{
        margin: 1%;
        display: inline-block;
        width: 80%;
        text-align: center;
    }

    .container{
        grid-gap: 0.3%;
    }

    .item-1{
        grid-row: 2/2;
        grid-column: 1/7;
    }
    .item-2{
        grid-row: 1/1;
        grid-column: 1/7;
    }
    .item-3{
        grid-row: 3/3;
        grid-column: 1/7;
    }

    .containerM{
        display: grid;
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 1%;
    }

    .profile img{
        width: 120%;
        padding: 3%;
    }

    .item-4{
        grid-row: 1/8;
        grid-column: 2/7;
    }
    .item-5{
        grid-row: 3/3;
        grid-column: 2/8;
    }
    .item-6{
        grid-row: 4/4;
        grid-column: 2/5;
    }
    .item-7{
        grid-row: 4/4;
        grid-column: 5/8;
    }
}